alabaster==0.7.12
astunparse==1.6.3
asynctest==0.13.0
atomicwrites==1.4.0
backports.tempfile==1.0
certifi==2020.6.20
fonttools==4.25.0
graphviz
h5py
imagesize
importlib-metadata
importlib-resources
inflection==0.5.1
intervaltree
ipykernel
ipython @
ipython-genutils
ipywidgets
isort
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
Markdown
matplotlib
matplotlib-inline
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
numexpr
numpy
numpydoc
pandas
pandocfilters
paramiko
Pillow==9.4.0
pluggy
ply==3.11
pyarrow==8.0.0
pydot @
pyflakes
pyls-spyder==0.4.0
pyOpenSSL
pyparsing==2.3.1
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySocks
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
pytoolconfig
pytz
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML==6.0
pyzmq
requests-oauthlib==1.3.0
scipy
spyder
spyder-kernels
streamlit
temp==2020.7.2
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-datasets==1.2.0
tensorflow-estimator
tensorflow-metadata
tinycss2
toml
tomli
tomlkit
toolz
Unidecode
urllib3
validators
websocket-client
zipfile37==0.1.3
zipp
