backports.tempfile==1.0
graphviz
h5py
imagesize
ipykernel
ipython
ipython-genutils
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
numpy
numpydoc
pandas
pandocfilters
Pillow==9.4.0
pydot
streamlit
temp==2020.7.2
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-datasets==1.2.0
tensorflow-estimator
tensorflow-metadata
zipfile37==0.1.3
